@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
}

.nav-scroller .nav {
    background-color: #5C5470;
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

