$color_1: #78b9ea;
$background-color_1: #5C5470;

.user-dashboard {
    .bi {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: -.125em;
        fill: currentColor;
    }

    #dashboard-toggler{
        background-color: $background-color_1;
        border-radius: 5px;
    }

    .sidebar {
        background-color: $background-color_1;

        .nav-link {
            font-size: .875rem;
            font-weight: 500;

            &:focus{
                color: $color_1;
            }
        }

        .nav-link.active {
            color: $color_1;
        }

        .offcanvas-md{
            background-color: $background-color_1;
        }

    }

    .sidebar-heading {
        font-size: .75rem;
    }

    .navbar-brand {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .navbar {
        .form-control {
            padding: .75rem 1rem;
        }
    }

    @media (min-width: 768px) {

        .sidebar {
            .offcanvas-lg {
                background-color: $background-color_1;
                position: sticky;
                top: 48px;
            }

        }
        .navbar-search {
            display: block;
        }
    }
}
